<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>melmac</title>
<link rel="shortcut icon" href="favicon.gif" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>

<div id="header">

<h1><a href="index.html"><span class="orange">.:</span> melmac</a></h1>
<h2>"insert clever tagline here"</h2>

<ul id="nav">
<li><a href="#" id="currentPage">Blog</a></li>
<li><a href="#">Archives</a></li>
<li><a href="#">Gallery</a></li>
<li><a href="#">Links</a></li>
<li><a href="#">Contact</a></li>
</ul>

</div>

<div id="container">

<div id="left">

<h1>Article Header</h1>
<h2>Submitted by <a href="#">gorotron</a> on July 2, 2007 &nbsp; </h2>
<p>This web template is available for free under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution License 3.0</a>. You are free to use, abuse and edit this web template in any way you see fit as long as you leave my link at the bottom of the page. Check out my site for more <a href="http://free-css-templates.gorotron.com">free CSS templates</a>. Thanks!</p>

<p>This is an example of a blockquote:</p>

<blockquote>
<p>Morbi sagittis elit sit amet enim. Aliquam commodo risus blandit massa. Sed nulla ipsum, ultrices nec, imperdiet rutrum, facilisis eget, dolor. Vestibulum nonummy mi. Nam laoreet pretium pede. Aliquam pellentesque purus at metus. Quisque mollis, enim sed blandit commodo, ipsum massa bibendum metus, eu lacinia tellus mauris ac dolor. Phasellus molestie faucibus nunc. Nam tristique sodales leo. Fusce quis urna. Proin arcu dolor, eleifend ut, luctus vitae, malesuada a, eros.</p>
</blockquote>

<p>Cras pellentesque facilisis ipsum. Nam turpis justo, aliquam non, imperdiet non, ullamcorper in, sapien. Nullam sed arcu ac eros imperdiet venenatis. Proin tincidunt. Vivamus blandit pellentesque nulla. Suspendisse erat. Vivamus imperdiet volutpat nulla. Donec enim. Maecenas condimentum purus ac lorem. Aliquam nec metus. Vestibulum et neque. Cras in ante sit amet lacus rhoncus tempor. Ut imperdiet magna vel metus. Mauris consectetuer ipsum eu augue pellentesque sodales. Aenean commodo, justo nec fermentum accumsan, neque felis rhoncus magna, sed porttitor turpis neque ac orci. Sed eu quam sed ante rutrum tempus.</p>

<div class="hr">
<p>&raquo; Posted in <a href="#">Lorem Ipsum</a> &nbsp; &raquo; <a href="#">Permalink</a> &nbsp; &raquo; <a href="#">4</a> comments</p></div>

<h1>Article Header</h1>
<h2>Submitted by <a href="#">gorotron</a> on July 1, 2007</h2>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque purus massa, tincidunt sed, lacinia a, placerat sed, massa. Etiam purus. Etiam varius felis quis felis. In nec turpis non turpis aliquet iaculis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer diam. Quisque mi pede, sollicitudin nec, consectetuer et, mollis vitae, orci. Maecenas sed dui sed orci eleifend porttitor. Sed pellentesque imperdiet metus. Duis non dui. Cras congue ante a arcu. Nam posuere volutpat enim. Pellentesque sed massa. Etiam tincidunt metus non ipsum. Sed mattis magna sit amet metus.</p>

<p>This is an example of a list:</p>

<ol>
<li>Item One</li>
<li>Item Two</li>
<li>Item Three</li>
</ol>

<p>In ac odio tincidunt magna adipiscing molestie. Phasellus suscipit est. Aenean quis eros eu est elementum pretium. Nam aliquet sodales orci. Sed ultricies libero eu lorem. Ut ac nisi et mi euismod fermentum.</p>

<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed eleifend, nulla et ornare tempor, urna sapien tempus massa, at pretium elit turpis in erat. Sed vel augue ut orci convallis tincidunt. Pellentesque in mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

<div class="hr">
<p>&raquo; Posted in <a href="#">Free CSS Templates</a> &nbsp; &raquo; <a href="#">Permalink</a> &nbsp; &raquo; <a href="#">6</a> comments</p>
</div>

</div>

<div id="right">

<h1>About This Site:</h1>
<p>This template has been tested with the following browsers: Firefox 2 (Mac/PC), IE6, Safari 2 (Mac), Netscape 7 (PC), Opera 9.2 (PC).</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris vel dolor. Fusce dictum, odio et eleifend ultrices, odio odio faucibus odio, quis consequat tortor nisi vitae sapien. Etiam vulputate mi vel enim.</p>

<div class="hr"></div>

<h1>Some Links:</h1>

<ul class="links">
<li><a href="http://www.morguefile.com">Morgue File</a></li>
<li><a href="http://www.sourceforge.net">Sourceforge</a></li>
<li><a href="http://www.opensourcemac.org">Open Source Mac</a></li>
<li><a href="http://www.openwebdesign.org">Open Web Design</a></li>
<li><a href="http://www.freewebtemplates.com">FreeWebTemplates.com</a></li>
<li><a href="http://www.lipsum.com">Lorem Ipsum</a></li>
<li><a href="http://www.drzaius.com">Dr. Zaius</a></li>
<li><a href="http://www.tiger-7.com">Portland Web Design</a></li>
</ul>

<div class="hr"></div>

<h1>Article Header</h1>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris vel dolor. Fusce dictum, odio et eleifend ultrices, odio odio faucibus odio, quis consequat tortor nisi vitae sapien. Etiam vulputate mi vel enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aenean rutrum.</p> <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin venenatis egestas orci. Pellentesque vehicula consequat metus. Sed a lectus vel augue semper molestie. Vivamus sed est. Proin et ipsum.</p>

</div>

<div id="clear"></div>

</div>




<div id="copyright">&copy;2007 Your Name Here. &nbsp; <a href="http://free-css-templates.gorotron.com">CSS template</a> by <a href="http://free-css-templates.gorotron.com">gorotron</a>.</div>

</body>
</html>
